<div class="modal fade" id="chatSettingsModal" tabindex="-1" role="dialog" aria-labelledby="chatSettingsModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="chatSettingsModalLabel">Edit Chat Info</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="editChatForm" onsubmit="editChatInfo(event)" class="needs-validation" novalidate>
                    <div class="form-group">
                        <label for="groupName">Change Group Name</label>
                        <input type="text" class="form-control" id="groupName" name="name" value="<%= chatroom.name %>" placeholder="Enter new group name" required>
                        <div class="invalid-feedback">Please provide a group name.</div>
                    </div>
                    <div class="form-group">
                        <label for="creator">Creator of the Chat</label>
                        <input type="text" class="form-control" id="creator" value="<%= users.find(user => user.id === chatroom.creatorId).fullname %>" disabled>
                    </div>
                    <div class="form-group">
                        <div class="dropdown">
                            <button class="btn btn-primary dropdown-toggle" type="button" id="multiSelectDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                                Choose Participants
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="multiSelectDropdown" id="participantList"></ul>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="totalMessages">Total Messages</label>
                        <input type="text" class="form-control" id="totalMessages" value="<%= messages.length %>" disabled>
                    </div>
                    <div class="form-group">
                        <label for="file" class="form-label">Group Photo</label>
                        <input type="file" class="form-control" id="file" name="file">
                        <div class="mt-3 d-flex justify-content-center align-items-center">
                            <% if (!imageUrl) { %>
                                <img src="/public/images/profile.png" class="mr-1 chat-photo" alt="Chat Photo">
                            <% } else { %>
                                <img id="photoPreview" src="<%= imageUrl %>" class="chat-photo" alt="Chat Photo">
                            <% } %>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="editChatInfo('<%= chatroom.id %>', event)">Save Changes</button>
            </div>
        </div>
    </div>
</div>

<script>
  let users = [];
  let selectedUsers = [];
  const dropdownButton = document.getElementById('multiSelectDropdown');
  const participantList = document.getElementById('participantList');
  const dropdownMenu = document.querySelector('.dropdown-menu');
  fetch('/users')
    .then(response => response.json())
    .then(data => {
      users = data
      data.forEach(user => {
        const listUser = document.createElement('li');
        listUser.innerHTML = `
                    <label>
                        <input type="checkbox" value="${user.id}" onchange="handleCB(event)">
                        ${user.fullname}
                    </label>
                `;
        participantList.appendChild(listUser);
      });
    })
    .catch(error => console.error('Error fetching users:', error));

  function handleCB(event) {
    const checkbox = event.target;
    if (checkbox.checked) {
      selectedUsers.push(+checkbox.value);
    } else {
      selectedUsers = selectedUsers.filter((item) => +item !== +checkbox.value);
    }

    const selectedUserNames = selectedUsers.map(userId => users.find(user => user.id === userId).fullname);

    dropdownButton.innerText = selectedUserNames.length > 0
      ? selectedUserNames.join(', ') : 'Select Items';
  }


  async function editChatInfo(chatroomId, event) {
    event.preventDefault();

    const form = document.getElementById('editChatForm');

    if (form.checkValidity() === false) {
      event.stopPropagation();
      form.classList.add('was-validated');
      return;
    }

    const formData = new FormData(form);

    formData.append('userIds', JSON.stringify(selectedUsers));

    try {
      const response = await fetch(`/chatroom/${chatroomId}`, {
        method: 'PUT',
        body: formData,
      });

      if (!response.ok) {
        throw new Error('Failed to create chatroom');
      }
    } catch (error) {
      console.error('Error creating chatroom:', error);
      alert('Failed to create chatroom');
    }
  }
</script>
