<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head.ejs') %>

<style>
    .input-block {
        background-color: #f8f9fa;
    }
    .chat-cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    .chat-card {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .card {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 5px;
        padding: 15px;
    }
    .chat-photo {
        width: 60px;
        height: 60px;
        border-radius: 50%;
    }
    .chat-details {
        text-align: start;
        margin: 0 20px;
    }
    .chat-details .card-title {
        font-weight: bold;
    }
    .chat-details .last-message {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        max-width: 100px;
        margin: 0 !important;
    }
    .chat-details .timestamp {
        font-size: 0.8rem;
        margin: 0 !important;

        color: #999;
    }
</style>
<body>
<div class="container-fluid d-flex flex-column">
    <div class="input-block">
        <div class="col-md-8 offset-md-2">
            <div class="d-flex align-items-center justify-content-between mt-5 mb-4">
                <div class="d-flex align-items-center">
                    <button type="button" class="btn btn-primary mr-3" data-toggle="modal" data-target="#profileSettingsModal">
                        <i class="fas fa-user-circle mr-2"></i>Profile
                    </button>
                    <%- include('../partials/editProfileInfo.ejs') %>

                    <h3>All Chats</h3>
                </div>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#newChatModal">
                    <i class="fas fa-plus mr-2"></i>Create a chat
                </button>
            </div>
        </div>
    </div>
    <div class="col-md-8 offset-md-2">
        <div class="d-flex align-items-center justify-content-between mt-5 mb-4">
            <div class="chat-cards">
                <% chats.forEach(chat => { %>
                    <div class="chat-card">
                        <a href="/chatroom/<%= chat.id %>" class="card">
                            <% if (!chat.imageUrl) { %>
                                <img src="/public/images/profile.png" class="mr-1 chat-photo" alt="Chat Photo">
                            <% } else { %>
                                <img src="<%= chat.imageUrl %>" class="mr-1 chat-photo" alt="Chat Photo">
                            <% } %>
                            <div class="chat-details">
                                <h6 class="card-title"><%= chat.name %></h6>
                                <% if (chat.messages && chat.messages.length > 0) { %>
                                    <p class="last-message"><%= chat.messages[chat.messages.length - 1].content %></p>
                                <% } else { %>
                                    <p class="last-message">No messages</p>
                                <% } %>
                                <p class="timestamp"><%= chat.createdAt.toLocaleString() %></p>
                            </div>
                            <button type="button" class="btn btn-danger" onclick="deleteChat('<%= chat.id %>', event)">
                                <i class="fas fa-trash-alt"></i>
                            </button>
                        </a>
                    </div>
                <% }); %>
            </div>
        </div>
    </div>

</div>

<%- include('../partials/newChat.ejs') %>

<script>
  function deleteChat(chatId, event) {
    event.preventDefault();
    if (confirm('Are you sure you want to delete this chatroom?')) {
      fetch(`/chatroom/${chatId}`, {
        method: 'DELETE',
      }).then(response => {
        if (!response.ok) {
          throw new Error('Failed to delete chatroom');
        }
        location.reload();
      })
        .catch(error => {
          console.error('Error:', error);
          alert('Failed to delete chatroom');
        });
    }
  }

  function logout(event) {
    event.preventDefault();
    if (confirm('Are you sure you want to logout?')) {
      fetch(`/auth/logout`, {
        method: 'POST',
      })
        .then(response => {
          if (!response.ok) {
            throw new Error('Failed to logout');
          }
          window.location.href = '/';
        })
        .catch(error => {
          console.error('Error:', error);
          alert('Failed to logout');
        });
    }
  }
</script>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
